body {
    background-color: ;
}
li {
    font-size:20px;
}
Coffee Pot
67595E

Coffee Pot
A49393

Dusty Rose
EED6D3

Rosewater
E8B4B8

Source for iphone 1 pic: By James Lu
                        Hardwarexone.com
                        Jan 9, 2017
                        https://www.hardwarezone.com.sg/feature-read-these-hilarious-reactions-original-iphones-unveiling-ten-years-ago-today